@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.alg-OpenSans {
  font-family: 'Open Sans', sans-serif; }

html,
body {
  margin: 0; }

.flex-display {
  display: flex; }

.flex-align-center {
  align-items: center; }

.flex-justify-center {
  justify-content: center; }

.flex-column {
  flex-direction: column; }

.flex-grow {
  flex-grow: 1; }

.flex-space-between {
  justify-content: space-between; }

.alg-Searchbar {
  min-height: 83px;
  background-color: #1c688e;
  padding: 0 25px; }

.alg-Searchbar-input {
  height: 40px;
  border-radius: 3px;
  width: 100%;
  padding: 0 14px;
  font-size: 15px;
  color: #b3b3b3; }
