@import "styles/_base.scss";

.alg-Searchbar {
    height: 83px;
    background-color: $navy;
    padding: 0 25px;
}

.alg-Searchbar-input {
    height: 40px;
    border-radius: 3px;
    width: 100%;
    padding: 0 14px;
    font-size: 15px;
    color: $gray;
}
